.cuadro{
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mover 2s linear alternate infinite;

}

@keyframes mover {
  from {
    transform: translateX(0);
  
  }
  to {
    transform: translateX(300px);
  }
}